@{
    ViewBag.Title = "About";
    ViewBag.ActiveItem = "About";
}

<div class="wrapper col2">
    <h2>@ViewBag.Title.</h2>
    <h3></h3>

    <p>Use this area to provide additional information.</p>
</div>