<h2>Latest From The School Blog</h2>
<ul>
    <li>
        <div class="imgholder"><a href="#"><img src="Content/images/80x80.gif" alt="" /></a></div>
        <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
        <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
    </li>
    <li>
        <div class="imgholder"><a href="#"><img src="Content/images/80x80.gif" alt="" /></a></div>
        <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
        <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
    </li>
    <li>
        <div class="imgholder"><a href="#"><img src="Content/images/80x80.gif" alt="" /></a></div>
        <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
        <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
    </li>
    <li>
        <div class="imgholder"><a href="#"><img src="Content/images/80x80.gif" alt="" /></a></div>
        <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
        <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
    </li>
    <li class="last">
        <div class="imgholder"><a href="#"><img src="Content/images/80x80.gif" alt="" /></a></div>
        <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
        <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
    </li>
</ul>