
<div class="topbox">
    <h2>Nullamlacus dui ipsum</h2>
    <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
    <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
</div>
<div class="topbox">
    <h2>Login Here</h2>
    <form action="#" method="post">
        <fieldset>
            <legend>Teachers Login Form</legend>
            <label for="teachername">
                Username:
                <input type="text" name="name" id="name" value="" />
            </label>
            <label for="pass">
                Password:
                <input type="password" name="pass" id="pass" value="" />
            </label>
            <label for="remember">
                <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
                Remember me
            </label>
            <p>
                <input type="submit" name="login" id="teacherlogin" value="Login" />
                &nbsp;
                <input type="reset" name="reset" id="teacherreset" value="Reset" />
            </p>
        </fieldset>
        <label>
            <input class="checkbox" type="checkbox" name="AdminLogin" id="adminLogin" checked="checked" />
            Admin Login
        </label>
    </form>
</div>
<br class="clear" />
